<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lab_entry_record_sys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLabAdmin</display-name>
    <servlet-name>CheckLabAdmin</servlet-name>
    <servlet-class>CheckLabAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLabAdmin</servlet-name>
    <url-pattern>/CheckLabAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutStudentInfo</display-name>
    <servlet-name>PutStudentInfo</servlet-name>
    <servlet-class>PutStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutStudentInfo</servlet-name>
    <url-pattern>/PutStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentInf</display-name>
    <servlet-name>UpdateStudentInf</servlet-name>
    <servlet-class>UpdateStudentInf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentInf</servlet-name>
    <url-pattern>/UpdateStudentInf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStudent</display-name>
    <servlet-name>CheckStudent</servlet-name>
    <servlet-class>CheckStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStudent</servlet-name>
    <url-pattern>/CheckStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutStudentLabEntry</display-name>
    <servlet-name>PutStudentLabEntry</servlet-name>
    <servlet-class>PutStudentLabEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutStudentLabEntry</servlet-name>
    <url-pattern>/PutStudentLabEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentInfo</display-name>
    <servlet-name>DeleteStudentInfo</servlet-name>
    <servlet-class>DeleteStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentInfo</servlet-name>
    <url-pattern>/DeleteStudentInfo</url-pattern>
  </servlet-mapping>
</web-app>